.navbar {
    background: gray;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 14px;
    min-width: 25rem;
}

.navbar a {
    text-decoration: none;
    font-size: 12px;
}


.navbar img {
    height: 55px;
    margin: 2px 0 0 -40px;
}

.navbar li {
    margin: auto;
}
