* {
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;
}

.content {
  /* min-width: 400px; */
  display: grid;
  align-items: center;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  margin: 0.3rem;
}
